body {
    /* 使用微軟正黑體 */
    font-family: 'Microsoft Jhenghei';
    margin: 0;
}
*{
    box-sizing: border-box;
}
.navbar{
    display: block;
    width: 100%;
    height: 50px;
    background-color:rgb(70, 70, 70);
    box-shadow: 0px 5px 20px rgba(0,0,0,.4);
    position: fixed;
    /* 固定到畫面的左上角 */
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
}
#title{
    margin: 0;
    color: white;
    text-align: center;
}
.card-list {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-wrap: wrap;
}

a,a:visited{
    color:inherit ;
    text-decoration: none;
}

.card {
    width: 300px;
    height: 400px;
    margin: 15px 15px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    overflow: hidden;
    transition: all .3s ease;
}
.card:hover {
    box-shadow: 0px 25px 18px rgba(0, 0, 0, 0.2);
    /* border-radius: 20px; */
}

.card-img {
    width: 100%;
    height: 50%;
    display: block;
}

.card-body {
    /* padding: 上下 左右; */
    padding: 20px 20px;
}

.card-title {
    margin: 0;
    text-align: center;
}

.card-text {
    margin: 1px;
    text-align: left;
}

.head{
    background-color:rgba(0, 0, 0, 0.582);
    padding: 10px 5px;
    color: rgb(255, 255, 255)
}
.card-img1 {
    width: 100%;
    height: 80%;
    display: block;
}
.card-img2 {
    width: 100%;
    height: 75%;
    display: block;
}
.card-textm {
    margin: 5px;
    text-align: center;
}
.card-img-reg {
    width: 100%;
    height: 45%;
    display: block;
}
h3{
    margin-bottom: 1px;
}
.reg{
    height: 90px;
}
.ho1{
    margin-top: 45px;
}
.ho2{
    margin-top: 90px;
}